@using Dapper.Infrastructure

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="appModule">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/App_Themes/admin/plugins/images/favicon.png">
    <title>@ViewBag.Title - @ApplicationConstant.ApplicationName</title>
    <!-- Bootstrap Core CSS -->
    <link href="/App_Themes/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/App_Themes/admin/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/App_Themes/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="/App_Themes/admin/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/App_Themes/admin/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/App_Themes/admin/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/App_Themes/admin/css/colors/megna.css" id="theme" rel="stylesheet">
    <link href="/App_Themes/admin/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <link href="~/App_Client/libs/angular-loading/loading-bar.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("styles", false)
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("~/Views/Shared/Patient/_TopBar.cshtml")

        @Html.Partial("~/Views/Shared/Patient/_LeftBar.cshtml")

        <!-- Page Content -->
        @RenderBody()
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/App_Themes/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/App_Themes/admin/bootstrap/dist/js/tether.min.js"></script>
    <script src="/App_Themes/admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/App_Themes/admin/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/App_Themes/admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/App_Themes/admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/App_Themes/admin/js/waves.js"></script>
    <!--Morris JavaScript -->
    <script src="/App_Themes/admin/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="/App_Themes/admin/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="/App_Themes/admin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- jQuery peity -->
    <script src="/App_Themes/admin/plugins/bower_components/peity/jquery.peity.min.js"></script>
    <script src="/App_Themes/admin/plugins/bower_components/peity/jquery.peity.init.js"></script>
    <script src="/App_Themes/admin/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="/App_Themes/admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="/App_Themes/admin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    @Html.Partial("_AngularScripts")
    @Html.Partial("_HandleMessage")
    @RenderSection("scripts",false)
</body>

</html>


